@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.fa-instagram:hover {
  color: #c05466;
}

/* banner  */

.banner {
  color: #fff;
  min-height: 100vh;
  background: linear-gradient(45deg, #0e0d0d 60%, #111 40%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 100px;
}

.banner .textBx {
  max-width: 700px;
  text-align: left;
}

.banner .textBx h2 {
  font-size: 2em;
  line-height: 2.5;
  text-transform: uppercase;
}

.banner .textBx p {
  font-size: 1em;
  color: #dadada;
}

.banner .textBx a {
  color: #111;
  background-color: #ffff4c;
  padding: 10px 40px;
  text-decoration: none;
  margin: 10px;
  font-size: 1rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}

.banner .textBx a:hover {
  letter-spacing: 4px;
}

.banner .imgBx {
  position: relative;
  height: 450px;
  width: 450px;
  overflow: visible;
  box-shadow: 0 0 20px #ffff4c;
  overflow: hidden;
}

.banner .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Navbar  */

.head {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 100000;
}

.head .logo-text {
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  font-size: 2em;
}

.head ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.head .logo {
  font-size: 20px;
}

.head ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  list-style: none;
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  position: relative;
  transition: 0.5s;
}

.head ul li {
  list-style: none;
}

.head ul li a:hover {
  color: #ffff4c;
  z-index: 1000;
}

.head.scroll {
  padding: 10px 40px;
  background: #161623;
}

/* PLayers */

.players {
  min-height: 100vh;
  background: #161623;
  position: relative;
  text-align: center;
}

.players h3 {
  padding: 50px;
  color: #fff;
  position: relative;
  z-index: 100000;
}

.players canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 900;
}

.swiper-slide {
  width: 200px;
  height: 300px;
  background: rgba(255, 255, 255, 0.05);
  /* padding: 15px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  opacity: 0.5;
  transition: 0.5s;
  padding: 20px;
  overflow: hidden;
}

.swiper-slide:hover {
  opacity: 1;
}

.swiper-slide:hover .textBx ul li a {
  opacity: 1;
}

.swiper-slide .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  border: 10px #111 solid;
  border-radius: 50%;
  overflow: hidden;
}

.swiper-slide .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-slide .textBx {
  text-align: center;
  /* overflow: hidden; */
}

.swiper-slide .textBx h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.1;
}

.swiper-slide .textBx ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  transform: translateY(60px);
  transition: 0.5s;
}

.swiper-slide:hover ul {
  transform: translateY(0);
}

.swiper-slide .textBx ul li {
  margin: 0 15px;
  list-style: none;
}

.swiper-slide .textBx ul li a {
  color: #fff;
  opacity: 0;
  transition: 0.5s;
  font-size: 20px;
}

.swiper-slide .textBx ul li a:hover .fa-instagram {
  color: #c05466;
}

.swiper-slide .textBx ul li a:hover .fa-facebook {
  color: #436cf3;
}

.swiper-slide .textBx ul li a:hover .fa-twitter {
  color: #378cd1;
}

/* History */

.history {
  min-height: 100vh;
  background: linear-gradient(135deg , #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  padding: 50px 100px;
}

.history .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 40px; */
}

.history h3 {
  margin-bottom: 50px;
  font-size: 3em;
  color: #111;
  text-transform: uppercase;
}

.history .textBox {
  max-width: 700px;
  margin-right: 40px;
}

.history .textBox h2 {
  font-size: 1.5em;
  line-height: 30px;
  color: #444;
}

.history .imgBx {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px #333;
}

.history .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tournaments */

.tourn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 50px 80px;
  background:#161623;
  /* overflow: hidden; */
}

.tourn H2 {
  color: #fff;
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 2em;
}

.tourn figure {
  width: 900px;
  height: 475px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tourn figure .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 634px;
  overflow: hidden;
  border-radius: 15px;
  
  box-shadow: 0 0 20px  #ffff4c;
}

.tourn figure .imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tourn figure .textBx {
  position: absolute;
  bottom: -10%;
  right: -10%;
  height: 300px;
  width: 700px;
  background: linear-gradient(150deg , #ffffff00 , #ffffff75);
  z-index: 1000;
  backdrop-filter: opacity(.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 15px 15px rgba(0, 0, 0, .2);
  text-align: right;
}

.tourn figure .textBx .text {
  position: absolute;
  top: 40%;
  right: 10px;
  text-align: center;
}

.tourn figure .textBx .text h4 {
  background: linear-gradient(45deg , #378cd1 60%, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  /* color: #111; */
}

.tourn figure .textBx a {
  text-decoration: none;
  padding: 5px 10px;
  background: transparent;
  border: 2px solid;
  border-color: #f8f9fa;
  border-radius: 3px;
  cursor: pointer;
  color: #f8f9fa;
  transition: .5s;
}

.tourn figure .textBx a:hover {
  color: #378cd1;
  background: #f8f9fa;
}

/* .tournBx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 80%;
}

.tournBx .imgBx {
  position: relative;
  width: 634px;
  height: 475px;
  object-fit: cover;
}

.tournBx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-timing-function: ease-out;
  transition-duration: .2s;
  transition-property: transform ,-webkit-transform;
} */

/* Credits */

.credits {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.creator p:nth-child(1) {
  padding: 20px 0 10px 0;
}

.creator p:nth-child(2) {
  padding: 0 0 10px 0;
}

.creator p {
  margin: 0;
}